Variables, names and objects

In Python, everything - booleans, integers, floats, strings, functions - is implemented as an object. The object has a type that determines what can be done with the data.

Type determines if the data value can be changes (mutable) or is constant (immutable).

Python is strongly typed - the type of an object does not change.

# Variables

Variables are names that refer to values in the computer's memory. In Python you use = to assign a value.

In [12]:
a = 3

print(a)

3

### Student Exercise

1. Assign a value to the name a.
2. Print the value of a.
3. Assign a to b.
4. Print the value of b.

### Variable Names

Variable names can only contain these characters:

* Lowercase letters (a through z)
* Uppercase letters (A through Z)
* Digits (0 through 9)
* Underscore (_)

Names cannot begin with a digit.

Python names that begin with an underscore are treated in special ways.

Which names are valid:

```
a. unicorn
b. _unicorn123
c. 1_unicorn
d. Unicorn_123
```

### Reserved Words

Do not use any of the following for varaible names:

```
False         def           if            raise
None          del           import        return
True          elif          in            try
and           else          is            while
as            except        lambda        with
assert        finally       nonlocal      yield
break         for           not      
class         from          or       
continue      global        pass        
```

# Type

In Python, if you want to know the type of anything, use type(thing).

In [19]:
a = 3

type(a)

int

# Numbers

In [33]:
print(2 ** 3)

8

You can calculate combinations of numbers with math operators:

```
+     addition

-     subtraction

*     multiplation

/     floating point division

//    integer (truncating) division

%     modulus (remainder)

**    exponentation 
```

### Student Exercise

Create a separate expression for each math operator defined above.

### Integers

Any sequence of digits in Python is assumed to be a literal integer. **But don't put 0 in front of another digit**

In [35]:
7

7

In [8]:
0

0

You can mix literal integers and variables that have been assigned an integer value.

In [40]:
a = 95

a + 5

100

### Type Conversions

To change other Python data types to an integer, use the int() function. This will keep the whole number and discard any fractional part.

**If you try to conver something that doesn't look like a number, you'll get an excpetion.**

In [16]:
int(True)

1

In [15]:
int(False)

0

In [44]:
int(34.7)

34

In [13]:
int('-14')

-14

### Floats

Integers are whole numbers, but floating-point numbers (called floats) have decimal points.

To convert other types to floats, use the float() function.

In [45]:
float(True)

1.0

In [46]:
float(-87)

-87.0

In [47]:
float('12')

12.0

In [49]:
float('34.22')

34.22

# Strings

You can make a Python string by enclosing characters in single or double quotes.

You can also use three single quotes (''') or three double quotes (""").

In [25]:
"Snap"

'Snap'

In [26]:
'Crackle'

'Crackle'

In [27]:
'''Pop'''

'Pop'

Why have multiple kinds of quote characters?

In [21]:
'"Nay", said the naysayer.'

'"Nay", said the naysayer.'

### Converting data types with str()

You can conver other Python data types to strings by using the str() function

In [28]:
str(98.6)

'98.6'

In [29]:
str(False)

'False'

### Escape with \

Python lets you escape the meaning of some characters within strings to achieve effects that would otherwise be hard to express.

In [49]:
palindrome = 'A man,\nA plan,\nA canal:\nPanama.'

print(palindrome)

A man,
A plan,
A canal:
Panama.

In [50]:
"\"I did nothing!\""

'"I did nothing!"'

### Concatenation

In [51]:
a = 'Duck'

b = a

c = 'Goose'

print(a + ", " + b + ", " + c)

Duck, Duck, Goose